<!DOCTYPE html>
<html>
<head>
	<title>Show user <%=user.displayname%></title>
<% include ../partials/cssLinks.ejs %>
</head>
<body>

	<% include ../partials/navbar.ejs %>

	<br><br><br><br>


	<div class="container">
		<h1>User <%=user.displayname%></h1>

		<hr>

		<p>
			Username: <%=user.username%></br>
			Display name: <%=user.displayname%><br>
			User type: <%=user.usertype%><br>
		</p>
		<br><br><br><br><br><br>
		<h3>All Your Entries</h4>
			<% if (entries[0].title){ %>
		<ul>
			<% for (let i = 0; i < entries.length; i++){ %>
				<a href="entries/<%=entries[i]._id%>"><li><h4><%=entries[i].title%></h4></li></a>
			<% } %>
		</ul>
		<%} else {%>
			<a href="/entries/new">Create A New Entry</a>
			<% } %>

	</div>

	<% include ../partials/jsLinks.ejs %>


</body>
</html>
