<!DOCTYPE html>
<html>
<head>
	<title>Bot Index</title>
	<% include ../partials/cssLinks.ejs %>
</head>
<body>
	
	<% include ../partials/navbar.ejs %>

	<br><br><br><br>


	<div class="container">
		<h1>Bot Index</h1>

		<h3><font color=red>NOTE: You may need to refresh the page for the statuses to show up correctly.</font></h3>

		<hr>
		----Begin Bot Index----
		<%  for (let i = 0; i < users.length; i++) {  %>
				<hr>
				<h3><a href="/users/<%=users[i]._id%>"><%=users[i].username%></a></h3><br>
		<%  if ((session.usertype === 'admin' && users[i].usertype != 'admin') || session.username === users[i].username) {     %>
				<form action="/users/<%=users[i]._id%>/edit" method="GET">
					<button type="submit">Edit this user's account settings</button>
				</form><br>
				<form action="/bot/<%=users[i].username%>" method="GET">
					<button type="submit">Manually activate bot</button>
				</form><br>
				<form action="/bot/<%=users[i].username%>/start" method="GET">
					<button type="submit">Start bot</button>
				</form>
				<form action="/bot/<%=users[i].username%>/stop" method="GET">
					<button type="submit">Stop bot</button>
				</form>
				<h4>Current Bot Status: <%=botstatus[i]%></h4>
				<hr>
				
		<%  		}                     %>
				<br>
		<%  } %>
		----End Bot Index----

		<hr>

		<a href="/users/new">Create a new user account</a><br>
		<a href="/">Back to home</a>
	</div>

	<% include ../partials/jsLinks.ejs %>


</body>
</html>
