<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/cssLinks.ejs %>
	</head>
	<body>

		<% include ../partials/navbar.ejs %>

	<br><br><br><br>


	<div class="container">
		<h2>UPDATE ENTRY</h2>

		<form action="/entries/<%=entry._id%>?_method=PUT" method="post">
			Author:<br/>
			<input class="entryInput" type="text" name="author" value="<%=entry.author%>"><br/><br/>
			Title:<br/>
			<input class="entryInput" type="text" name="title" value="<%=entry.title%>"><br/><br/>
			Link: <br/>
			<input class="entryInput" type="text" name="link" value="<%=entry.link%>"><br><br>
			<!--String-->
			 					<textarea class="entryInput" rows=25 cols=100 name="string"><%=entry.string%></textarea><br><br>
			Publication Year:<br/>
			<input class="entryInput" type="number" name="publicationYear" value="<%=entry.publicationYear%>"><br><br/>
			Content Type:<br/>
			<br><select type="text" name="contentType">
									<option value="<%=entry.contentType%>"><%=entry.contentType%></option>
									<option value="news">News</option>
									<option value="fiction">Fiction</option>
									<option value="non-fiction">Non-Fiction</option>
									<option value="technical">Technical</option>
									<option value="marketing">Marketing</option>
									<option value="business">Business</option>
									<option value="entertainment">Entertainment</option>
									<option value="studentEssay">Student Essay</option>
								</select><br/><br/>
			Publisher:<br/>
			<input class="entryInput" type="text" name="publisher" value="<%=entry.publisher%>"><br/><br/>

			<button type="submit">Submit Entry</button>
		</form>
	</div>

		<% include ../partials/jsLinks.ejs %>


	</body>
</html>
