<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/cssLinks.ejs %>
	</head>
	<body>

    <% include ../partials/navbar.ejs %>

    <br><br><br><br>

    <div class="container">

		<h1>ENTRY SHOW PAGE</h1>
		<%	if (session.curuserid === entry.userId) {	%>
				<h2>NOTE: You created this entry</h2>
		<%	}											%>
		<h2>Title: <%=entry.title%></h2>
		<h2>Author: <%=entry.author%></h2>
		<h2><a href="<%=entry.link%>">LINK TO ORIGINAL</a></h2>

		<%	if (session.curuserid === entry.userId || session.usertype === 'admin') {	%>
				<h2><a href="/entries/<%=entry._id%>/edit">EDIT THIS ENTRY</a></h2>
				<h2><a href="/entries/<%=entry._id%>/delete">DELETE THIS ENTRY</a></h2>
		<%	}																			%>

		<h2>Publication Year: <%=entry.publicationYear%></h2>
		<h2>Content Type: <%=entry.contentType%></h2>
		<h2>Publisher: <%=entry.publisher%></h2>
		<ul>
			<li>Yellow: <%=entry.data.yellow.percentage%>%</li>
			<li>Blue: <%=entry.data.blue.percentage%>%</li>
			<li>Green: <%=entry.data.green.percentage%>%</li>
			<li>Light-Green: <%=entry.data.lightGreen.percentage%>%</li>
			<li>Faded-Blue: <%=entry.data.fadedBlue.percentage%>%</li>
		</ul>
		<h2>Engagement Score: <%=entry.engagementScore%></h2>
		<button id="hoverButton" type="button">HOVER VIEW</button>
		<button id="allColorButton" type="button">ALL COLOR VIEW</button>
		<button id="yellowButton" type="button">YELLOW ONLY</button>
		<button id="greenButton" type="button">GREEN ONLY</button>
		<button id="blueButton" type="button">BLUE ONLY</button>
		<h2>Text:</h2>
		<p class="text">
    <pre id="preDis">
			<% for (let i = 0; i < text.length; i++) { %><span class="<%=text[i].color%>"><%=text[i].text%></span><% } %>
    </pre>
		</p>

	</div>


    <% include ../partials/jsLinks.ejs %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
	<script src="/jQuery/hiLight.js"></script>
	</body>
</html>
